/* add google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* common css starts here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.primary-color {
    color: #FF5400 !important;
}

.secondary-color {
    color: #131318;
}

.fs-md {
    font-size: 24px;
}

.fs-lg {
    font-size: 36px;
}

.fs-xl {
    font-size: 40px;
}

.fs-xxl {
    font-size: 64px;
}

.fw-bold {
    font-weight: 800;
}

.text-mute {
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0px;
}

.primary-btn {
    width: 174px;
    height: 52px;
    color: #fff;
    background-color: #FF5400;
    font-size: 16px;
    font-weight: 600;
    outline: 0;
    border: 0;
    flex-shrink: 0;
    border-radius: 8px;
}

.my {
    margin: 100px 0px;
}

.mt {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

/* common css ends here */

/* navbar section css starts here */
.nav-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style-type: none;
    margin: 10px;
}

.navigation li a {
    display: inline-block;
    color: #424247;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navigation li a:hover {
    color: #FF5400;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
    font-size: 30px;
}

/* navbar section css ends here */

/* banner section starts here */
.banner {
    height: 500px;
    background-image:
        linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    max-width: 800px;
    text-align: center;
    color: #fff;
}

.input-field {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
}

.input-container {
    position: relative;
    width: 174px;
    /* Adjust the width as needed */
}

.input-container input {
    padding-right: 30px;
    padding-left: 12px;
    /* Space for the icon */
    width: 100%;
    height: 52px;
    outline: 0;
    border: 0;
    border-radius: 8px;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the right spacing as needed */
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-circle-chevron-down {
    color: red;
}

.fa-magnifying-glass {
    padding-right: 14px;
}

/* banner-section ends here */

/* tour section css starts here */
.tour {
    display: flex;
    gap: 50px;
}

.tour-left {
    flex: 1;
}

.tour-right {
    flex: 1;
}

.tour-right img {
    width: 100%;
    height: 100%;
}

/* tour section css ends here */

/* gallery section css starts here */

.two-column {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.two-column-left {
    flex: 1;
}

.two-column-right {
    flex: 1;
}

.three-column {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.three-column-left {
    flex: 4;
}

.three-column-middle {
    flex: 5;
}

.three-column-right {
    flex: 3;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cl-2 {
    display: flex;
    gap: 24px;
}

.cl-2-left {
    flex: 5;
}

.cl-2-right {
    flex: 7;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Adjust the text color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Optional text shadow for better visibility */
}

/* Additional styling for the text if needed */
.centered-text p {
    font-size: 28px;
    font-weight: 800;
}

/* gallery section css ends here */

/* choose us section css starts here */

.card-item {
    max-width: 573px;
    height: 284px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    border-radius: 16px;
    padding: 32px;
}

.card-bg-uniqe {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05)
}


.one-column {
    display: flex;
    justify-content: center;
}

/* choose us section css ends here */

/* newsletter section starts css here */
.newsletter {
    display: flex;
    gap: 24px;
}

.news-card {
    flex: 1;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-card input {
    display: block;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 16px;
    outline: 0;
    border: 0;
}

.btn-width {
    width: 100%;
}

.discount-photo {
    flex: 2;
    position: relative;
}

.discount-photo img {
    width: 100%;
    height: 100%;
}

.rotate-btn {
    width: 40%;
    height: 95px;
    position: absolute;
    left: 45%;
    bottom: 15%;
    transform: rotate(-19.628deg);
    background-color: #FF5400;
    border: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    border-radius: 8px;
}

/* newsletter section css ends here */

/* extra section css starts here */
.extra-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about p i {
    font-size: 24px;
    margin-right: 12px;
}

.highlights {
    border-left: 1px solid #FF5400;
    border-right: 1px solid #FF5400;
    padding: 0px 40px;
}

.small-card {
    display: flex;
    gap: 24px;
}

.card-inner {
    max-width: 150px;
    height: 120px;
    padding: 16px;
    margin-top: 24px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.number-design {
    font-size: 22px;
    color: purple;
    margin-top: 14px;
}

.recent {
    padding-left: 18px;
}

.text-gray {
    color: gray;
    padding-left: 24px;
    margin-top: 24px;
}

/* extra section css ends here */

/* footer section css starts here */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 80px 0px;
}

.footer-container {
    max-width: 632px;
}

.social-icon i {
    font-size: 32px;
    margin-left: 14px;
}

hr {
    border: none;
    width: 100%;
    height: 1.5px;
    background-color: rgba(19, 19, 24, 0.10);
    margin: 40px 0px;
}

/* footer section css ends here */



/*  responsive css starts here */
@media screen and (max-width: 900px) {
    nav {
        padding: 0px 14px;
    }

    .nav-toggler-icon {
        display: block;
        cursor: pointer;
    }

    .navigation {
        position: absolute;
        left: 0px;
        top: 120px;
        background-color: rgba(19, 19, 24, 0.05);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;
        transform: translateY(-600px);
        transition: .5s ease-out;
    }

    .navigation li a {
        padding: 0px;
    }

    #nav-toggler:checked~.navigation {
        transform: translate(0px);
    }

    .banner {
        margin: 0px 14px;
    }

    .text-mute {
        font-size: 14px;
    }

    .fs-sm {
        font-size: 22px;
    }

    .input-field {
        flex-direction: column;
    }

    .tour {
        flex-direction: column;
        padding: 0px 18px;
    }

    .three-column {
        flex-direction: column;
        padding: 0px 14px;
    }

    .two-column {
        flex-direction: column;
        padding: 0px 14px;
    }

    .cl-2 {
        flex-direction: column;
        padding: 0px 14px;
    }

    .one-column {
        padding: 0px 14px;
    }

    .centered-text p {
        font-size: 16px;
    }

    .card-item {
        max-width: 100%;
    }

    .newsletter {
        flex-direction: column;
        padding: 0px 14px;
    }

    .news-card {
        width: 100%;
    }

    .extra-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        padding: 0px 14px;
    }

    .highlights {
        max-width: max-content;
    }

}

/*  responsive css ends here */